
/* Main Directive Element Style */
.editable {
  cursor: pointer;
  /* padding: 5px; */
  font-weight: bold;
  /* font-size: 4vmin; */
}

.editable:hover {
  transition: .25s;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 2px 2px -5px -1px rgba(0, 0, 0,.3);
}


/* Modal Style */
.textHeaderValue {
  font-size: 2em;
}

.nbrRadio {
  height: 80%;
  margin: auto;
}

.editableSetter .glyphicon {
  font-size: xx-large;
}

.modalInput {
  font-size: 2em;
  height: 80%;
}
